html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	background-color: rgb(17, 17, 17);
}

#background {
	position: fixed;
	/* Aggiunto per farlo scivolare sopra a tutto il resto */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(153, 0, 255);
	z-index: 50;
	/* Sta sopra al contenuto principale */
	transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}

/* Classe che verrà aggiunta da JS per far scivolare via lo sfondo */
#background.slide-right {
	transform: translateX(100vw);
}

#logo {
	position: fixed;
	color: azure;
	font-family: monospace;
	line-height: 1.1;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 1.2s cubic-bezier(0.25, 1, 0.5, 1);
	z-index: 60;
	/* Sopra al background viola */
}

#logo.moving {
	top: 15%;
	/* Spostato leggermente più giù per non sovrapporsi al menu */
	left: 50%;
	/* Lo centro perfettamente! */
}

/* Classe per far scivolare via il logo assieme allo sfondo */
#logo.exit {
	left: 150%;
}

#dot {
	display: inline-block;
	animation: blink 1s steps(1) infinite;
}

#press-any {
	position: fixed;
	bottom: 40%;
	/* Lo posiziona nella parte bassa */
	left: 52%;
	/* Centrato a metà schermo */
	transform: translateX(-50%);
	/* Il trucco per centrarlo al millimetro */
	color: white;
	font-family: "Press Start 2P", system-ui;
	white-space: nowrap;
	animation: blink 1.5s steps(1) infinite;
	visibility: hidden;
	/* Nascosto all'inizio */
	opacity: 0;
	transition: opacity 0.5s ease, left 1.2s cubic-bezier(0.25, 1, 0.5, 1);
	z-index: 60;
}

#press-any.visible {
	visibility: visible;
	opacity: 1;
}

/* Classe per far scivolare via il testo assieme allo sfondo */
#press-any.exit {
	left: 150%;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	z-index: 999;
}

.pixel {
	width: 100px;
	height: 100px;
	background-color: rgb(47, 0, 255);
	transition: opacity 1s ease;
}

/* --- STILI ABBOZZATI PER IL MAIN CONTENT SOTTO --- */
#main-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	color: azure;
	font-family: monospace;
	z-index: 10;
	opacity: 0;
    transition: opacity 1s ease;
    visibility: hidden;
}

header nav {
	font-family: "Press Start 2P", system-ui;
	display: flex;
	justify-content: center;
	gap: 3rem;
	padding: 2rem;
	font-size: 0.8rem;
}

.nav-item {
	cursor: pointer;
	transition: color 0.3s;
}

.nav-item:hover {
	color: rgb(153, 0, 255);
}

#carousel-section {
	font-family: "Press Start 2P", system-ui;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.6rem;
	gap: 4rem;
}